.input-styling {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  /* border-radius: 0.75rem; */
  background-color: white;
}

.input-styling-loading {
  width: 100%;
  /* height: 4.4375em; */
  align-items: center;
  text-align: center;
  border: 1px solid black;
  /* border-radius: 0.75rem; */
  background-color: white;
}

.stat-name-container {
  display: flex;
  flex-direction: row;
}

.player-projection-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.player-projection-card {
  text-align: left;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
  width: 270px;
}

.projection-button {
  width: 340px;
}

.stat-button-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 15px 0px 15px 0px;
  border-bottom: 1px solid black;
}

.trending, .hot-streak {
  background-color: yellow;
}

.smaller-font {
  font-size: 1px;
}

.hot-chili {
  background-color: red;
}

#root > div > div:nth-child(2) > div.player-props-table > div > div.MuiButtonGroup-root {
  > button {
    border-right-color: initial  !important;
  }
}

.auto-complete-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  justify-content: space-around;
}

#root > div > div:nth-child(2) > div:nth-child(3) > div.stat-name-container > div > button{
  border-radius: 10px;
  margin: 3px; 
  border-color: #0d86ae !important;
}

.projection-refresh-text {
  margin-left: 50px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
}